
.colRight {
	background-color:rgb(255, 255, 0);
  	float: right;
  	text-align: right;
  	display: inline;
}

.colCenter {
	background-color:rgb(255, 0, 0);
	position: center;
  	margin: 2px 10px;
  	display: inline;
}

.test {
//	background-color:rgb(0, 255, 0);
	float: center;
	display: inline;
}
.test2 {
//	background-color:rgb(255, 0, 0);
	float: center;
	display: inline;
}

.attending {
    color: red;
}

.not-attending {
  color: green;
}