.nav {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-style: italic;
  font-family: "Arial", Times, Sans-serif;
  line-height: 55px;
  font-size: 35px;
}

 .title {
  background-color: white;
  text-align: center;
  vertical-align: middle;
}
