.nav {
  text-decoration: none;
  color: black;
  font-size: 45px;
  font-family: "Jack Frost" !important;  
  line-height: 70px;
}

.icon {
  color: #3B5998;
}

 .title {
  top: 0;
  position: fixed;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 60px;
  padding: 20px;
}