.nav {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-style: italic;
  font-family: "Arial", Times, Sans-serif;
  line-height: 90px;
  font-size: 40px;
}

.header {
  background-color: pink;
  text-align: center;
  vertical-align: middle;
}
