.menuposition {
  color: blue;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.navigation-link {
  text-decoration: none;
  color: black;
  font-family: "Arial", Times, Sans-serif;
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
  font-size: 15px;
}