.menuposition {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  height: 60px;
  // padding: 10px 10px;
  background-color: white;
  border-top: 1px solid #efefef;
}
.settings_nav {
  color: black;
}

.drop-up-link {
  text-decoration: none;
  color: black;
  text-align: left;
}

.navigation-link {
  text-decoration: none;
  color: #4c525b;
  font-family: "Arial", Times, Sans-serif;
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
  font-size: 13px;
}

.navigation-link {
  &:active {
    color: #ffe;
  }

  &:hover, &:hover:active, &:visited:hover {
    color: #333;
  }
}

button.options-button {
  background-color: white;
  border: none;

  &:hover, &:hover:active, &:visited:hover {
    text-decoration: underline;
    color: #333;
  }
}